<footer class="site-footer">

  <div class="wrapper">

    <p>
      {% include footer_content.html %}
    </p>

  </div>
  
  <p>
      Co-Hosted By
  </p>

  <img src="https://people.gnome.org/~engagement/logos/GnomeLogoVertical.svg" width="5%"/>

  <img src="https://kde.org/stuff/clipart/logo/kde-logo-white-gray-rounded-source.svg" width="5%"/>
</footer>
